<h3>About UWWatch desk</h3>

<p>This is <a href="https://framagit.org/ylebars/UWWatch"><b>UWWatch
desk</b></a> version {}.</p>

<p><b>UWWatch desk</b> (unstructured
<a href = "http://polar.ncep.noaa.gov/waves/wavewatch/">WaveWatch III<sup>Ⓡ</sup></a>
desktop utilities) is a collection of tools within an unified graphical
interface. It aims to ease generating (unstructured) meshes and configuration
files for WaveWatch III<sup>Ⓡ</sup>, as well as analyse its outputs.</p>

<p><b>Author:</b> <a href = "http://le-bars.net/yoann/">Le Bars, Yoann</a>.</p>


<p>This program is distributed under
<a href = "http://www.cecill.info/licences/Licence_CeCILL-B_V1-en.html">CeCILL-B V1
license</a>.</p>

<p>Application icon:
<a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa"><em>The
Great Wave off Kanagawa</em></a> by
<a href = "https://en.wikipedia.org/wiki/Hokusai">Hokusai,
Katsushika</a>, public domain image via
<a href = "https://commons.wikimedia.org/wiki/File:The_Great_Wave_off_Kanagawa.jpg?uselang = en">Wikimedia Commons</a>.</p>

<p>Open icon by
<a href = "https://www.iconfinder.com/butterflytronics">Stawarz, Benjamin</a>
from <a href = "https://www.iconfinder.com/">Iconfinder</a> under
<a href = "https://creativecommons.org/licenses/by/3.0/">Creative Commons
(Attribution 3.0 Unported)</a> license.</p>

<p>Close and exit icons by
<a href = "https://www.iconfinder.com/Kh.Artyom">Khamitov, Artyom</a> from
<a href = "https://www.iconfinder.com/">Iconfinder</a> under
<a href = "https://creativecommons.org/licenses/by/3.0/">Creative Commons
(Attribution 3.0 Unported)</a> license.</p>

<p>WaveWatch III is a registered trademark own by the
<a href="https://www.weather.gov/">National Weather Service (NWS)</a>,
<a href="http://www.noaa.gov/">National Oceanic and Atmospheric
Administration</a>.</p>

<p>Copyright © 2018 Le Bars, Yoann.</p>
