<h3>À propos de l’atelier UWWatch</h3>

<p>Ceci est l’<a href="https://framagit.org/ylebars/UWWatch"><b>atelier
UWWatch</b></a> version {}.</p>

<p>L’<b>atelier UWWatch</b> (</i>unstructured
<a href = "http://polar.ncep.noaa.gov/waves/wavewatch/">WaveWatch III<sup>Ⓡ</sup></a>
desktop utilities</i>) est une collection d’outils rassemblés en une interface
graphique unifiée. Il vise à faciliter la génération de maillages (non
structurés) et de fichiers de configuration pour WaveWatch III<sup>Ⓡ</sup>,
ainsi que d’analyser ses sorties.</p>

<p><b>Auteur :</b> <a href = "http://le-bars.net/yoann/">Yoann <span style="font-variant: small-caps;">Le Bars</span></a>.</p>


<p>Ce programme est distribué sous contrat
<a href = "http://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.html">CeCILL-B V1</a>.</p>

<p>Icône de l’application :
<a href = "https://fr.wikipedia.org/wiki/La_Grande_Vague_de_Kanagawa">La
Grande vague de Kanagawa</a> par
<a href = "https://fr.wikipedia.org/wiki/Hokusai">Katsushika <span style="font-variant: small-caps;">Hokusai</span></a>,
image du domaine public via <a href = "https://commons.wikimedia.org/wiki/File:The_Great_Wave_off_Kanagawa.jpg?uselang = fr">Wikimedia Commons</a>.</p>

<p>Icône « ouvrir » par
<a href = "https://www.iconfinder.com/butterflytronics">Benjamin <span style="font-variant: small-caps;">Stawarz</span></a>
depuis <a href = "https://www.iconfinder.com/">Iconfinder</a> sous contrat
<a href = "https://creativecommons.org/licenses/by/3.0/">Creative Commons
(Attribution 3.0 Unported)</a>.</p>

<p>Icônes « fermer » et « quitter » par
<a href = "https://www.iconfinder.com/Kh.Artyom">Artyom <span style="font-variant: small-caps;">Khamitov</span></a>
depuis <a href = "https://www.iconfinder.com/">Iconfinder</a> sous contrat
<a href = "https://creativecommons.org/licenses/by/3.0/">Creative Commons
(Attribution 3.0 Unported)</a>.</p>

<p>WaveWatch III est une marque détenue par le
<a href="https://www.weather.gov/">National Weather Service (NWS)</a>,
<a href="http://www.noaa.gov/">National Oceanic and Atmospheric
Administration</a>.</p>

<p>Copyright © 2018 Yoann <span style="font-variant: small-caps;">Le Bars</span>.</p>
